@CHARSET "UTF-8";

.mbody {
	background: linear-gradient(gray, black);
}

.pictures {
	margin-left: auto;
    margin-right: auto;
    width: 6em
}

#fieldComment {
	background: linear-gradient(gray, blue);
}

#fieldNews {
	background: linear-gradient(blue, black);
}

body {
	color:black;
	background-color:white;
	background-image: url(/jweb/inc/img/christmas.jpg);
}

.myDiv {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
	width: 80%;
	height: 100%;
	background-color: rgba(128, 128, 128, 0.8);
}

#leg{
	color:white;
}

.myLeg{
	color:white;
	font-size:2em;
}

textarea {
	resize:none;
}


#navigation {
	padding: 0px;
  list-style: none ;
  text-align: center ;
}

#navigation li {
  display: inline ;
  margin-right: 1px ;
  color: #fff ;
  background: #c00 ;
}

#navigation li a {
	padding: 20px 40px;
  background: linear-gradient(#CBF1F9, #4596A6);
  color: #fff ;
  width: 200px;
  height: 100px;
  border: 1px solid #600 ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background: gray ;
  text-decoration: underline ;
}

#division {
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

h1 {
	padding: 0px;
  list-style: none ;
  text-align: center ;
  font: 2em "Trebuchet MS",Arial,sans-serif ;
}
